@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,200&display=swap");
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/content-box.css";
@import "components/icon-raw.css";
@import "components/setting-title.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/chat-screen.css";
body {
  color: #2f363e;
  font-family: "Titillium Web", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  margin-bottom: 80px;
}

main {
  margin-bottom: 100px;
}

::-webkit-scrollbar {
  display: none;
}
