.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 55px;
  box-sizing: border-box;
  border-top: 1px solid rgba(44, 34, 29, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2f363e;
}

.nav__notification {
  position: absolute;
  left: 17px;
  bottom: 17px;
}

.nav__point {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
